<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student list</title>
</head>
<body>
    <table>
        <tr><th> First Name </th><th>Last Name</th> <th>Email</th> <th>Message</th> </tr>
        {%for i in messagess%}
        <tr>
            <td>
                {{i.first_name}}
            </td>
            <td>
                {{i.last_name}}
            </td>
            <td>{{i.email}}</td>
            <td>{{i.message}}</td>
        </tr>
        {%endfor%}
    </table>
    <style>
        table{
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            background-color: rgb(140, 196, 85);
        }
        body{
            background-color: rgb(197, 235, 160);
        }
    </style>
</body>
</html>