<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
</head>
<body>
  
    <img src="imgs/hng.jpg" alt="{{post.title}}" width="50%">

 <img src="imgs/hng.jpg" alt="imgs/hng.png">
    <div class="row">
<div class="left">
    <p >
        <h1><b>ANYIJUKIRE JANET</b> </h1>
        Software Developer</p>

    <h2>PERSONAL SUMMARY</h2>
    <p class="intro">A creative entry-level software developer who enjoys working as part of a team.  Has knowledge in programming languages like Python, Kotlin, and JavaScript.  She has used her creativity and skills to solve community problems by making a data tracker for community health workers and an IoT environmental monitoring system. Looking for more opportunities to grow her skills.</p>
<h2>EDUCATION</h2>
<p> <b> AkiraChix, </b> Nairobi — <i>DIploma</i> <br>
    FEBRUARY 2021 - ONGOING <br>
    Diploma in Information Technology <br> <br>
    <b> <u>Related courses</u> </b> <br>
    <u>Front-end Development.</u>
    <ul>
        <li>HTML/CSS</li>
        <li>JavaScript</li>
    </ul>
    <u>Back-end Development.</u>
    <ul>
        <li>Python</li>
        <li>Django</li>
    </ul>

    <u>Mobile Application Development.</u>
    <ul>
        <li>Kotlin</li>
        <li>Android Studio</li>
    </ul>

    <u>Internet of Things.</u>
    <ul>
        <li>Arduino</li>
        <li>TinkerCad</li>
        <li>C++</li>
    </ul>
<br> <br>
<b>San Giovanni School-Makiro, </b> Kanungu — Uganda <br> <i>Advanced Certificate of Education</i> <br>
MARCH 2018 - DECEMBER 2019 <br> <br>
<b>Immaculate Heart Girls School-Nyakibale, </b> Rukungiri — Uganda <br>
<i>Uganda Certificate of Education</i> <br>
FEBRUARY 2014 - DECEMBER 2017 <br>
</p>
</div>
<div class="right">
<p>
    <b>Mengo Kampala - Uganda <br>
        (+256)783649473 <br>
        anyijukirjanett@gmail.com <br>
        <a href="https://github.com/anyijukire" target="_blank">Github</a>
    </b>
</p>

<p>
    <h2>TECHNICAL SKILLS</h2>
    <ul>
        <li>Able to impliment Object Oriented programming in Python.</li>
        <li>Basic knowledge of Django framework.</li>
        <li>Ability to collect data from the user in a form and saving it in a a database.</li>
        <li>Basic knowledge of MySQL.</li>
        <li>Basic knowledge of algorithms and data structures.</li>
        <li>Abiity to deploy websites on Netlify and GitHub</li>
    </ul>
</p>
<p>
    <h2>PROJECTS</h2>
    <b>School Management system.</b> This helps schools to keep track of the activities talking place. Students can be able to register for the progam, teachers log in, to mention but a few.<br>
    <b>Bank system.</b> A bank system in python built on implimentation of object oriented programming. <br>
    <b>A game.</b> A rock paper scissors game built in python.
</p>

<p>
    <h2>REFREES</h2> <br>
    Sylvia Mbugua. <br>
    Software engineer <br>
    Sawa sawa limited <br>
    sylviambugua@gmail.com <br> <br> <br>
    
    John Owuor <br>
    Software Developer <br>
    Twiga foods <br>
    owuor@gmail.com
</p>
</div>
</div>
<style>
    *{
        box-sizing: border-box;
    }
    body{
        max-width: 1000px;

        padding-left: 10%;
        float: unset;
    }
.row {
  float: left;
  padding: 10px;
}

.left {
  float: left;  
  padding: 60px;
  width: 60%;
}

.right {
  float: right;
  padding: 60px;
  width: 40%;
}

h2{
    color: rgb(0, 102, 255);
}
.intro{
    max-width: 600px;
}
    </style>
</body>
</html>